In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

# Reading Data

In [2]:
df = pd.read_csv('energydata_complete.csv')

In [3]:
df.shape

(19735, 29)

In [4]:
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [5]:
df.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

# Cleaning data

In [6]:
# checking for null values
df[df.columns].isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [7]:
# since data is not null we have to check for duplicate data
df.duplicated().any()

False

In [8]:
# Dropping useless columns from data
df = df.drop(['date', 'lights'], axis=1)
df

       Appliances         T1       RH_1  ...  Tdewpoint        rv1        rv2
0              60  19.890000  47.596667  ...   5.300000  13.275433  13.275433
1              60  19.890000  46.693333  ...   5.200000  18.606195  18.606195
2              50  19.890000  46.300000  ...   5.100000  28.642668  28.642668
3              50  19.890000  46.066667  ...   5.000000  45.410389  45.410389
4              60  19.890000  46.333333  ...   4.900000  10.084097  10.084097
...           ...        ...        ...  ...        ...        ...        ...
19730         100  25.566667  46.560000  ...  13.333333  43.096812  43.096812
19731          90  25.500000  46.500000  ...  13.300000  49.282940  49.282940
19732         270  25.500000  46.596667  ...  13.266667  29.199117  29.199117
19733         420  25.500000  46.990000  ...  13.233333   6.322784   6.322784
19734         430  25.500000  46.600000  ...  13.200000  34.118851  34.118851

[19735 rows x 27 columns]

# We Can Normalize the data for better results using min max scaler

In [9]:
scaler = MinMaxScaler()
df[df.columns] = scaler.fit_transform(df)
df

       Appliances        T1      RH_1  ...  Tdewpoint       rv1       rv2
0        0.046729  0.327350  0.566187  ...   0.538462  0.265449  0.265449
1        0.046729  0.327350  0.541326  ...   0.533937  0.372083  0.372083
2        0.037383  0.327350  0.530502  ...   0.529412  0.572848  0.572848
3        0.037383  0.327350  0.524080  ...   0.524887  0.908261  0.908261
4        0.046729  0.327350  0.531419  ...   0.520362  0.201611  0.201611
...           ...       ...       ...  ...        ...       ...       ...
19730    0.084112  0.926786  0.537657  ...   0.901961  0.861981  0.861981
19731    0.074766  0.919747  0.536006  ...   0.900452  0.985726  0.985726
19732    0.242991  0.919747  0.538666  ...   0.898944  0.583979  0.583979
19733    0.383178  0.919747  0.549491  ...   0.897436  0.126371  0.126371
19734    0.392523  0.919747  0.538758  ...   0.895928  0.682391  0.682391

[19735 rows x 27 columns]

# Question 12

In [10]:
x2 = np.array(df['T2'])
y2 = np.array(df['T6'])
#we have to reshape x2 because of only one predictor
x2 = x2.reshape(-1, 1)
x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, test_size=0.3, random_state=42)

In [11]:
model = LinearRegression()
model.fit(x2_train, y2_train)
y2_pred = model.predict(x2_test)

In [12]:
score = r2_score(y2_test, y2_pred)
round(score,2)

0.64

# Question 13

In [13]:
#separate target from data for which we have to predict values
x = df.drop(['Appliances'], axis=1)
y = df['Appliances']

In [14]:
# now split data into two parts one for training model and second for testing model
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [16]:
model2 = LinearRegression()
model2.fit(x_train, y_train)
y_pred = model2.predict(x_test)

mae = mean_absolute_error(y_test, y_pred)
round(mae, 2)

0.05

# Question 14

In [17]:
rss = np.sum(np.square(y_test - y_pred))
round(rss, 2)

45.35

# Question 15

In [20]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
round(rmse, 3)

0.088

# Question 16

In [21]:
# Coefficient of Determination (r2 score)
r2score = r2_score(y_test, y_pred)
round(r2score, 2)

0.15

# Question 17

In [28]:
weights = model2.coef_
features = df.columns[1:]
for i,w in enumerate(weights):
  print('%s,\t\t Weight: %f' % (features[i], w))

T1,		 Weight: -0.003281
RH_1,		 Weight: 0.553547
T2,		 Weight: -0.236178
RH_2,		 Weight: -0.456698
T3,		 Weight: 0.290627
RH_3,		 Weight: 0.096048
T4,		 Weight: 0.028981
RH_4,		 Weight: 0.026386
T5,		 Weight: -0.015657
RH_5,		 Weight: 0.016006
T6,		 Weight: 0.236425
RH_6,		 Weight: 0.038049
T7,		 Weight: 0.010319
RH_7,		 Weight: -0.044614
T8,		 Weight: 0.101995
RH_8,		 Weight: -0.157595
T9,		 Weight: -0.189941
RH_9,		 Weight: -0.039800
T_out,		 Weight: -0.321860
Press_mm_hg,		 Weight: 0.006839
RH_out,		 Weight: -0.077671
Windspeed,		 Weight: 0.029183
Visibility,		 Weight: 0.012307
Tdewpoint,		 Weight: 0.117758
rv1,		 Weight: 0.000770
rv2,		 Weight: 0.000770

# Question 18

In [30]:
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

y_ridge_pred = ridge_reg.predict(x_test)
rmse2 = np.sqrt(mean_squared_error(y_test, y_ridge_pred))
round(rmse2, 3)

0.088

# Question 19

In [39]:
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

y_lasso_pred = lasso_reg.predict(x_test)

print('No. of non-zero feature weights : ',(lasso_reg.coef_!=0).sum())

No. of non-zero feature weights :  4

# Question 20

In [40]:
rmse3 = np.sqrt(mean_squared_error(y_test, y_lasso_pred))
print('RMSE : ',round(rmse3, 3))

RMSE :  0.094